* {
  font-size: 16px;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; }

.textBoxParent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }

.textBoxChild {
  border: 1px solid green;
  width: 100%;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1; }

#userInput,
#userInputConverted {
  border: 1px dotted gray;
  height: 60%;
  width: 90%;
  margin: 10% 10%; }
